<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>로그인</h2>
    <form method="POST" action="{% url 'account:login'%}">
        {%csrf_token %} {{form.as_p}}
        <button type="submit">로그인</button>
    </form>

    <p><a href="{% url 'account:signup' %}">
    아직 회원이 아니신가요? 회원가입 하러 가기</a></p>
</body>
</html> -->

{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/account/login.css'%}" />
    <title>login</title>
  </head>
  <body>
    {% if form.non_field_errors %}
  <div class="error">
    {% for e in form.non_field_errors %}{{ e }}{% endfor %}
  </div>
{% endif %}

{% if form.errors %}
  <div class="error">
    {% for field, errs in form.errors.items %}
      <p>{{ field }}:
        {% for e in errs %}{{ e }} {% endfor %}
      </p>
    {% endfor %}
  </div>
{% endif %}
    <header id="HdStyle">
      <div id="HdLayout">
        <a href="{% url 'map:list' %}" id="HdLogo">
          <img id="Hdlogoimg" src="{% static 'img/headerLogo.png' %}" alt="로고" />
      </a>
        <button type="button" id="HdAccountBt">
          <a id="logSg" href="{% url 'account:signup' %}">로그인/회원가입</a>
        </button>
      </div>
    </header>
    <section id="AcSection">
      <article>
        <div id="artText">
          <!-- 메인페이지로 이동 -->
          <p>로그인</p>
        </div>
        <div id="formCon">
          <form  method="POST" action="{% url 'account:login'%}">
            {%csrf_token %}
            <div>
              <input name="username" id="LId" type="text" placeholder="아이디를 입력하세요." />
            </div>
            <input
              id="LPw"
              type="password"
              name="password"
              placeholder="비밀번호를 입력하세요."
            />
            <div>
              <input  id="Lsb" type="submit" value="로그인" />
            </div>
          </form>
        </div>
        <div id="AdCon">
          <div>
            <input type="checkbox" />
            <p>자동 로그인</p>
          </div>
          <div>
            <p>아이디 찾기</p>
            <p>비밀번호 찾기</p>
            <a id="logSg" href="{% url 'account:signup' %}">회원가입</a>
          </div>
        </div>
      </article>
    </section>
    <footer id="AcFooter">
      <div id="FtLogo">
        <img src="{% static '' %}" alt="로고" />
        <p>도봉또봉</p>
      </div>
      <div id="FtAd">
        <p id="FtAdC1">개인정보처리방침</p>
        <p id="FtAdC2">ⓒ 2025 AAA. All rights reserved.</p>
      </div>
    </footer>
  </body>
</html>
