{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>마이페이지</title>
</head>
<body>
{% if request.user.is_authenticated %}
  <p>{{ request.user.username }}님 환영합니다.</p>
  <p><a href="{% url 'map:list' %}">지도</a></p>

  <h2>마이페이지</h2>

  <!-- 프로필 이미지 -->
  {% if request.user.profile_image %}
    <img width="200" src="{{ request.user.profile_image.url }}" alt="Profile Image">
  {% else %}
    <img width="200" src="{% static 'img/profile_image.jpg' %}" alt="Default Profile">
  {% endif %}

  <!-- 이미지 변경 폼: views.py에서 mypage가 POST 처리 중 -->
  <form method="POST" action="{% url 'account:mypage' %}" enctype="multipart/form-data">
    {% csrf_token %}
    <label>이미지 변경:
      <input type="file" name="profile_image" accept="image/*">
    </label>
    <button type="submit">프로필 이미지 변경하기</button>
  </form>

  <p>email : {{ request.user.email }}</p>
  <p>nickname : {{ request.user.nickname }}</p>

  <hr>

  <h2>내가 작성한 글</h2>
  {% if posts %}
    {% for post in posts %}
      <h3><a href="{% url 'post:post_detail' post.id %}">{{ post.title }}</a></h3>
      <p>{{ post.address }}</p>
      <p>{{ post.created_at }}</p>
      <br>
    {% endfor %}
  {% else %}
    <p>글이 없습니다.</p>
  {% endif %}

  <hr>

  <h2>내가 스크랩한 글</h2>
  {% if scraps %}
    {% for post in scraps %}
      <p><a href="{% url 'post:post_detail' post.id %}">{{ post.title }}</a></p>
      <p>{{ post.address }}</p>
      <p>{{post.created_at}}</p>
      <form class="scrap_form" method="post" action="{% url 'feed:scrap' post.id %}">
              {% csrf_token %}
              <input type="hidden" name="next" value="{{ request.get_full_path }}">
              <button id="scrap_Btn" type="submit"  data-scrap-url="{% static 'img/scrap.png' %}"
              data-added-scrap-url="{% static 'img/added_scrap.png' %}">
              
                {% if user.is_authenticated and user in post.scrap.all %}
                <img class="scrap_img" src="{% static 'img/added_scrap.png'%}">
                {% else %}
                <img class="scrap_img" src="{% static 'img/scrap.png'%}">
                {% endif %}
              </button>
              <span class="scrap_number">{{ post.scrap.count }}</span>
            </form>
      <hr>
    {% endfor %}
  {% else %}
    <p>스크랩한 글이 없습니다.</p>
  {% endif %}

{% else %}
  <a href="{% url 'account:login' %}">로그인 해주세요</a>
{% endif %}

</body>

</html>
