{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/account/login.css' %}" />
    <title>signup</title>
  </head>
  <body>
    <header id="HdStyle">
      <div id="HdLayout">
        <div id="HdLogo">
          <img id="Hdlogoimg" src="" alt="로고" />
          <p id="HdText">도봉또봉</p>
        </div>
        <button type="button" id="HdAccountBt">
          <p>로그인/회원가입</p>
        </button>
      </div>
    </header>
    <section id="AcSection">
      <article>
        <div id="artText">
          <p>회원가입</p>
        </div>
        <div id="formCon">
          <form action="{% url 'account:signup' %}" method="POST">
            {% csrf_token %}
            <div class="spForm">
              <p>이름</p>
              <input id="LId" type="text" />
            </div>
            <div class="spForm">
              <p>이메일</p>
              <input id="LPw" type="email" placeholder="abc12345@abc.kr" />
            </div>
            <div class="spForm">
              <p>비밀번호</p>
              <input
                id="LPw"
                type="password"
                placeholder="영문, 숫자, 특수문자를 사용한 8~20자"
              />
            </div>
            <div class="spForm">
              <p>비밀번호 확인</p>
              <input
                id="LPw"
                type="password"
                placeholder="위의 비밀번호를 다시 입력해주세요."
              />
            </div>
            <div id="spButtom">
              <div id="spButtomTop">
                <div class="spButtomTopAg">
                  <p id="agtxt">약관 동의</p>
                  <p class="agtxtr">(필수)</p>
                </div>
                <div class="spButtomTopAg">
                  <input type="checkbox" id="agreeAll" />
                  <p class="agtxtall">전체 동의</p>
                </div>
              </div>
              <div id="spBtBt">
                <div class="spButtomTopAg">
                  <input type="checkbox" class="agree" />
                  <p class="agtxtall">이용약관에 동의</p>
                  <p class="agtxtr">(필수)</p>
                </div>
                <div class="spButtomTopAg">
                  <input type="checkbox" class="agree" />
                  <p class="agtxtall">개인정보 수집 및 이용에 동의</p>
                  <p class="agtxtr">(필수)</p>
                </div>
                <div class="spButtomTopAg">
                  <input type="checkbox" class="agree" />
                  <p class="agtxtall">마케팅 정보 수신 동의</p>
                  <p id="agtxtg">(선택)</p>
                </div>
              </div>
            </div>
            <div>
              <input id="Lsb" type="submit" value="다음 단계" />
            </div>
          </form>
        </div>
        <div id="AdCon">
          <p>이미 가입 하셨다면?</p>
          <a href="{% url 'account:login' %}">로그인</a>
        </div>
      </article>
    </section>
    <footer id="AcFooter">
      <div id="FtLogo">
        <img src="" alt="로고" />
        <p>도봉또봉</p>
      </div>
      <div id="FtAd">
        <p id="FtAdC1">개인정보처리방침</p>
        <p id="FtAdC2">ⓒ 2025 AAA. All rights reserved.</p>
      </div>
    </footer>
    <script src="{% static 'js/account/signup.js' %}"></script>
  </body>
</html>
