<!DOCTYPE html>
 <html lang="en">
 <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/DBTB/static/css/account/feed.css">
    <title>feed</title>
 </head>
 <body>
    <!--해더-->
    <header>
        <div id="head_feed">
            <div id="img_hole_header"><img id="DBTB_img" src="/DBTB/static/img/likelion.png"></div>
            <span id="DBTB">도봉또봉</span>
        </div> 
        <div id="move">
            <div id="move_to_map">지도</div>
            <div id="move_to_feed">피드</div>
            <div id="move_to_EX">탐험</div>
            <div id="img_hole_header"><img id="user_img" src="/DBTB/static/img/likelion.png">
        </div>
        </div>
    </header>

   


    <hr>
     
    <header class="header2">
        <div class="head2_1">
            <div>전체<span class="number">14</span></div>
            <div>도봉동</div>
            <div>방학동</div>
            <div>쌍문동<span class="number">2</span></div>
            <div>창동<span class="number">12</span></div>
        </div>
        <div class="loc_searchBar">
            <input id="location_search" type="search" placeholder="검색어 입력">
            <img src="/DBTB/static/img/search.png" >
        </div>
    </header>
<hr>


    <main class="feed_main">
        <article class="feed_article">
            <img class="feed_img" src="/DBTB/static/img/likelion.png">
            <div id="feed_info">
                <div class="writer_info">
                    <img src="/DBTB/static/img/likelion.png">
                    <span id="user_name">봉봉봉</span>
                </div>
                <div class="scrap">
                    <img src="/DBTB/static/img/scrap.png">
                    <span id="scrap_number">0</span>
                </div>
            </div>
        </article>
     
    </main>

 </body>
 <script src="/DBTB/static/js/account/feed.js"></script>
 </html>