<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>도봉또봉</h2>
    <a href="{% url 'map:list' %}">지도</a>
    <a href="{% url 'explore:chat_ai' %}">탐험</a>
    <a href="{% url 'account:user-info' %}">
    <img src="#" alt="내 정보" width="24" height="24">
</a>
    <hr>
    <a href="{% url 'feed:feed_all' %}">전체</a>
    <a href="{% url 'feed:feed_by_dong' '도봉동' %}">도봉동</a>
    <a href="{% url 'feed:feed_by_dong' '방학동' %}">방학동</a>
    <a href="{% url 'feed:feed_by_dong' '창동' %}">창동</a>
    <a href="{% url 'feed:feed_by_dong' '쌍문동' %}">쌍문동</a>
    <hr>
    <form method="get" action="{% url 'feed:search' %}"> 
      <input type="text" name="q" value="{{ q }}" placeholder="검색어 입력">
      <button type="submit">검색</button>
  </form>
    <hr>
    {% for post in posts %} <!--있는 포스트 불러오기-->
    {% if post.image %} 
    <a href="{% url 'post:post_detail' post.id %}"><img src="{{ post.image.url }}"> <!--이미지 있을 시 이미지 불러오기, 이미지 클릭 시 포스트 세부로 이동(url 바꿔야할 시 말씀 주세요.)-->
    {% endif %}</a>
    작성자: {{ post.author.nickname|default:post.author }} <!--작성자 닉네임-->
    <br>

  <!--스크랩부분은 js로 연동해야할 거 같습니다... jsonresponse를 써서-->
  <form method="post" action="{% url 'feed:scrap' post.id %}">
    {% csrf_token %}
    <input type="hidden" name="next" value="{{ request.get_full_path }}">
    <button type="submit">
      {% if user.is_authenticated and user in post.scrap.all %}
      스크랩 해제
      {% else %}
      스크랩
      {% endif %}
    </button>
    <span>{{ post.scrap.count }}</span> <!--스크랩 개수-->
  </form>
  <hr>
{% empty %}
  {% if q %}
    검색 결과가 없습니다.
  {% elif dong %}
    "{{ dong }}"에 게시물이 없습니다.
  {% else %}
    게시물이 없습니다.
  {% endif %}
{% endfor %}

</body>
</html>