<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/DBTB/css/account/explore.css">
    <link rel="stylesheet" href="/DBTB/css/account/feed.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>탐험 페이지</title>
</head> 
<body>
      <!--헤더-->
    <header>
        <div id="head_feed">
            <div id="img_hole_header"><img id="DBTB_img" src="/DBTB/static/img/likelion.png"></div>
            <span id="DBTB">도봉또봉</span>
        </div>
        <div id="move">
            <div id="move_to_map">지도</div>
            <div id="move_to_feed">피드</div>
            <div id="move_to_EX">탐험</div>
            <div id="img_hole_header"><img id="user_img" src="/DBTB/static/img/likelion.png">
        </div>
        </div>
    </header>
    <hr>
  

    <!--메인 1번(질문 입력전)-->
<main id="ex_main">
    <!--질문 바-->
        <div class="Question_box">
            <div class="Question">도봉구 탐험을 시작하시겠습니까?</div>

            <div class="AI_search_bar">
   
                    <img id="add" src="/DBTB/static/img/addition.png">

                <input id="AI_search_input1" class="AI_search_input" type="search" placeholder="무엇이든 검색하세요">
                <img id="send" src="/DBTB/static/img/send.png">
            </div>
        </div>

<!--추천 박스들-->
<div class="AI_recommend">
    <article class="AI_recommend_box">
        <div id="article_title">오늘의 인기 포스트를 확인하세요!</div>
        <div class="article_content">
            <img id="article_img" src="/DBTB/static/img/likelion.png">
            <div class="article_content_detail">
                <div class="writer">
                    <div id="writerInfo">
                        <div id="wirter_circle"><img id="writer_img" src="/DBTB/static/img/likelion.png"></div>
                        <span id="userID">봉봉봉</span>
                    </div>
                    <div class="AI_scrap">
                        <img src="/DBTB/static/img/scrap_AI.png">
                        <span>12</span>
                    </div>
                </div>
                <div id="review">여름아침 덕성여대. 잔디밭에 앉아서 산과 하늘을 바라보면 마음이 탁 트여요!</div>
                <div id="recommend_post"><div id="button_recommend">추천 포스트 검색</div></div>
            </div>
        </div>
    </article>
    <article class="AI_recommend_box">
        <div class="AI_store_recommend_header">
            <div id="article_title">도봉구에서 점심을 드시나요?</div>
                <div id="button_explore_store">
                <img class="explore_store_img" src="/DBTB/static/img/explore_store.png">
                <span>맛집 탐험</span>
        </div>
    </div>
    <div>
        <div class="AI_store_header">
            <img id="store_img" src="/DBTB/static/img/likelion.png">
            <div class="store_info">
                <span id="store_name">다몬초밥</span>
                <span id="store_address">서울 도봉구 우이천로 350</span>
            </div>
        </div>
        <hr id="explore_line">
<div id="store_review">
    저렴하고 푸짐한 ......많아 배부르다는 후기가 많아요!
</div>

        </div>
    </article>
<article class="AI_recommend_box">
    <div id="article_title">도봉구의 숨겨진 이야기</div>
    <div id="information_place"><b>덕성여자대학교</b>는 도봉구에서 유일한 대학이라, 사실상 이동네의 '랜드마크'아애요. 교내에서 북한산이 바로 보이고 실제로 '등산'수업도 개설되어 있답니다.</div>
    <div class="button_place"><span id="button_more">더 알아보기</span></div>
</article>

</div>

</main>


<!--메인 2번 질문 입력후 대화상태-->
<main id="ex_main2">
    <!--왼쪽 바-->
    <div id="leftBar">
        <div class="leftBarBox">
            <div class="line">
                <img src="{% static 'img/new_explore.png'%}" class="Bar_img">
                <div>새 탐험</div>
            </div>
            <div class="line"> 
                <img src="{% static 'img/search_pest.png'%}" class="Bar_img">
                <div>내역 검색</div>
            </div>        
        </div>
        <div class="leftBarBox">
            <span>탐험</span>
            <div>도봉구 맛집 찾기</div>
            <div>오늘의 인기 게시물 찾기</div>
        </div>
    </div>

    <!--대화 창-->
    <div class="total">
        <div class="conversation_place">
<div class="conversation">
    <div class="commend_sort">
    <div class="commend">도봉구 맛집 추천해줘</div>
    </div>

<div class="answer_sort"> 
    <div class="answer">네 알겠습니다</div>
</div>
</div>

</div>

    <div class="search_place">
        <div class="AI_search_bar">
            <img id="add" src="{% static 'img/addition.png'%}">
            <input id="AI_search_input2" class="AI_search_input" type="search" placeholder="무엇이든 검색하세요">
            <img id="send" src="{% static 'img/send.png'%}">
        </div>
    </div>
</div>

</main>



    <script src="/DBTB/static/js/account/explore.js"></script>
    <script src="/DBTB/static/js/account/feed.js"></script>

</body>
</html>