<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/DBTB/static/css/account/mypage.css" />
    <title>mypage</title>
  </head>
  <body>
    <header id="HdStyle">
      <div id="HdLayout">
        <div id="HdLogo">
          <img id="Hdlogoimg" src="/DBTB/static/img/headerLogo.png" alt="로고" />
        </div>
        <div id="HdLogo">
          <!-- 경로수정 -->
          <div id="HdLogoA">
            <a>지도</a>
            <a>피드</a>
            <a>탐험</a>
          </div>
          <a>
            <img id="postpf" src="/DBTB/static/img/profile.svg" alt="프로필" />
          </a>
        </div>
        <!-- <button type="button" id="HdAccountBt">
          <p>로그인/회원가입</p>
        </button> -->
      </div>
    </header>

    <section id="mysection">
      <aside>
        <div id="mytop">
          <p>마이페이지</p>
        </div>
      </aside>
      <article>
        <div id="myAtTop">
          <div id="myAtTopId">
            <div id="image-preview-box">
            <div>
              <img id="postpf" src="/DBTB/static/img/Group 2.png" />
            </div>
             <input type="file" id="image-input" accept="image/*" style="display: none;" />
            </div>
             <div id="myIdsb">
              <p id="myIdsbNa">봉봉봉</p>
              <p id="myIdsbJb">방문객</p>
            </div>
          </div>
          <div id="myAtTopSb">
            <div class="myAtSbD">
              <p class="myAtSbDTT">포스트</p>
              <p class="myAtSbDTTN">1</p>
            </div>
            <div id="myAtSbMd">
              <p class="myAtSbDTT">스크랩</p>
              <p class="myAtSbDTTN">3</p>
            </div>
          </div>
        </div>
        <!-- 포스트 -->
        <div id="myAsSe">
          <div id="myAsCon">
            <div id="AsConT"><p>포스트 내역</p></div>
          </div>
          <p class="nopoS" style="display: none;">최근 포스트 내역이 없습니다</p>
          <div id="myAsConSe" >
            <div id="mySE">
            <div>
            <div id="myAsConSeT">
              <p id="myAsConSeTp">덕성여자대학교</p>
            </div>
            <p id="myAsConSeTl">서울특별시 도봉구 삼양로 114길 33</p>
                        <div class="myAsConAll">
                <p>2025.8.15</p>
              </div>
          </div>
          <div>
          </div>
          </div>
          </div>
        </div>
        <!-- 스크랩 -->
        <div id="myAsSe">
          <div id="myAsCon">
            <div id="AsConT"><p>스크랩 내역</p></div>

          </div>
          <p class="nopoS" style="display: none;">최근 스크랩 내역이 없습니다</p>
          <div id="myAsConSe">
            <div id="mySE">
            <div>
            <div id="myAsConSeT">
              <p id="myAsConSeTp">덕성여자대학교</p>
            </div>
            <p id="myAsConSeTl">서울특별시 도봉구 삼양로 114길 33</p>
                        <div class="myAsConAll">
                <p>2025.8.15</p>
              </div>
          </div>
          <div>
            <img id="Postsc" src="/DBTB/static/img/bookmark.svg">
          </div>
          </div>
                      <div id="mySE">
            <div>
            <div id="myAsConSeT">
              <p id="myAsConSeTp">덕성여자대학교</p>
            </div>
            <p id="myAsConSeTl">서울특별시 도봉구 삼양로 114길 33</p>
                        <div class="myAsConAll">
                <p>2025.8.15</p>
              </div>
          </div>
          <div>
            <img id="Postsc" src="/DBTB/static/img/bookmark.svg">
          </div>
          </div>
                      <div id="mySE">
            <div>
            <div id="myAsConSeT">
              <p id="myAsConSeTp">덕성여자대학교</p>
            </div>
            <p id="myAsConSeTl">서울특별시 도봉구 삼양로 114길 33</p>
                        <div class="myAsConAll">
                <p>2025.8.15</p>
              </div>
          </div>
          <div>
            <img id="Postsc" src="/DBTB/static/img/bookmark.svg">
          </div>
          </div>
          </div>
        </div>
      </article>
    </section>

    <footer id="AcFooter">
      <div id="FtLogo">
        <img src="" alt="로고" />
        <p>도봉또봉</p>
      </div>
      <div id="FtAd">
        <p id="FtAdC1">개인정보처리방침</p>
        <p id="FtAdC2">ⓒ 2025 AAA. All rights reserved.</p>
      </div>
    </footer>
    <script src="/DBTB/static/js/account/mypage.js"></script>
  </body>
</html>
