<!-- {% load humanize %} 'n분 전' 이렇게 나오려면 필수 -->
<!-- {% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>도봉또봉</h2>
    <a href="{% url 'map:list' %}">지도</a>
    <a href="{% url 'explore:chat_ai' %}">탐험</a>
    <a href="{% url 'account:user-info' %}">
        <img width="100px" src="{% static 'img/profile_image.jpg ' %}" alt="Default Profile">
    
</a>
    <hr>
    <img width="100px" src="{% static 'img/profile_image.jpg' %}" alt="Default Profile">
    <p>{{post.author.nickname}}</p>
    <p>{{ post.created_at | naturaltime }}</p>
    <a href ="{% url 'post:update' post.id %}">수정하기</a>
    <a href ="{% url 'post:delete' post.id %}">삭제하기</a>
    <hr>
    <h2> {{ post.title}} </h2> -->
    <!-- <p><img src="{{ post.image.url }}"></p> 이미지 -->
    <!-- {% if post.dong %} 템플릿 언어 필수!! -->
        <!-- <p>{{ post.dong }}</p> 장소명 -->
        <!-- <p>{{ post.address }}</p> 주소 -->
    <!-- {% else %}
        <p>장소 정보 없음</p>
    {% endif %}
    <h3>소개 한 줄</h3>
    {{post.content}}
    <hr>
    <h3>AI 분위기 매칭</h3>
    {{post.AI_matching}}
    <p>이 답변에 동의하시나요?</p> -->
    <!--답변 피드백 부분은 jsonresponse로 짜 놧기에 이 코드로 짜는 건 비추하고... 자스로 데이터 불러와야 할 것 같아요. 
    다만 제가 자스를 모르기에 우선 이렇게 짜놨고, 자스 부분 지피티한테 물어본 건 API 명세서에 써놨습니다.
    지금 상태로는 json 페이지로 이동하게 돼요.-->
    <!-- <form method="POST" action="{% url 'post:ai_feedback' post.id %}">
        {% csrf_token %}
        <input type="hidden" name="is_positive" value="true">
        <button type="submit">이 답변 좋아요</button>
    </form>
    <form method="POST" action="{% url 'post:ai_feedback' post.id %}">
        {% csrf_token %}
        <input type="hidden" name="is_positive" value="false">
        <button type="submit">이 답변 싫어요</button>
    </form>
    <hr>
    <h2>할 일 추천</h2> -->
    <!--여기 또한 실제 코드는 자스로 해야 할 거 같아서 우선 API 명세서에 자스 어떻게 할지 돌려본 거 추가해놓겠습니다.
    지금 상태로는 json 페이지로 이동하게 돼요.-->
    <!-- <form method="POST">
        {% csrf_token %}
        <button type="submit" formaction="{% url 'post:recom_now' post.id %}">
            여기서 할 일
        </button>
        <button type="submit" formaction="{% url 'post:recom_later' post.id %}">
            다음에 할 일
        </button>
    </form>
</body>
</html> -->



{% load humanize %} <!--'n분 전' 이렇게 나오려면 필수-->
{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/account/postt.css' %}" />
    <title>post</title>
  </head>
  <body>
    <header id="HdStyle">
      <div id="HdLayout">
        <div id="HdLogo">
          <img id="Hdlogoimg" src="{% static 'img/headerLogo.png' %}" alt="로고" />
        </div>
        <div id="HdLogo">
          <!-- 경로수정 -->
          <div id="HdLogoA">
            <a href="{% url 'map:list' %}">지도</a>
            <a href="{% url 'feed:feed_all' %}">피드</a>
            <a href="{% url 'explore:chat_ai' %}">탐험</a>
          </div>
          <a href="{% url 'account:user-info' %}">
            <img id="postpf" src="{% static 'img/profile_image.jpg ' %}" alt="프로필" />
          </a>
        </div>
        <!-- <button type="button" id="HdAccountBt">
          <p>로그인/회원가입</p>
        </button> -->
      </div>
    </header>
    <section>
      <div id="postcontmi">
        <!-- 피드로 이동 -->
        <a href="{% url 'account:mypage' %}">
          <img id="postpf" src="{% static 'img/profile_image.jpg ' %}" />
        </a>
        <div id="poboxT">
          <div id="postpfTxt">
            <p id="usid">{{post.author.nickname}}</p>
            <p id="usst">{{ post.created_at | naturaltime }}</p>
          </div>
          <div>
            <img id="ellipsis" src="{% static 'img/ellipsis-vertical.svg' %}" />
          </div>
        </div>
        <div id="reMoT">
          <div id="reMo">
            <!-- 수정으로 이동 -->
            <a href ="{% url 'post:update' post.id %}" class="reMocon">
              <img src="{% static 'img/pencil.svg' %}" />
              <span>수정</span>
            </a>
            <div class="reMocon">
              <a href ="{% url 'post:delete' post.id %}">
              <img src="{% static 'img/trash-2.svg'%}" />
              <span>삭제</span>
              </a>
            </div>
          </div>
        </div>
      </div>

      <article id="PTcontt">
        <div>
          <div id="aicon">
            <img id="adpts" src="{{ post.image.url }}" />
            <div id="aiconEx">
              <div id="PlName">
                <div>
                  <p id="PlNameTi"> {{ post.title}} </p>
                   {% if post.dong %}
                  <p id="PlNameAd">{{ post.dong }} {{ post.address }}</p>
                      {% else %}
                      <p id="PlNameAd">장소 정보 없음</p>
                          {% endif %}
                </div>
                <div id="PlNameSc">
                  <img id="pstSc" src="{% static 'img/bookmark.svg' %}" /><span
                    id="PlNameScCount"
                    >0</span
                  >
                </div>
              </div>
              <div class="PtBox">
                <div>
                  <span class="PtBoxTT">소개 한 줄</span>
                  <div class="PtRe">
                    <img src="{% static 'img/refresh-ccw.svg' %}" />
                    <span>재생성</span>
                  </div>
                </div>
                <div class="Pttextbox">
                     {{post.content}}
                  <!-- <ul>
                    <li>넓고 평탄한 초록 잔디</li>
                    <li>개방적이고 조용한 공간</li>
                    <li>배경의 산과 도심 빌딩</li>
                    <li>자연친화적, 청량감, 여유로움</li>
                  </ul> -->
                </div>
              </div>
            </div>
          </div>
          <!-- <div class="PtBox">
            <span class="PtBoxTT">소개 한 줄</span>
            <div class="PtRe">
              <img src="{% static 'img/pencil.svg' %}" />
              <span>수정하기</span>
            </div>
            <p class="Pttextbox">
            {{post.content}}
            </p>
          </div> -->
          <div class="PtBox">
            <p class="PtBoxTT">AI 분위기 매칭</p>
            <p class="Pttextbox">
                {{post.AI_matching}}
              <!-- 이 사진은 서울숲 잔디광장과 비슷한 분위기를 가지고 있습니다. 두 곳
              모두 넓은 잔디와 도심 속 여유로운 공간이 특징이에요! 다만,
              덕성여자대학교 캠퍼스는 더 조용하고 프라이빗한 느낌이 강해
              혼자만의 시간을 갖거나 산책하기에 좋아요. 서울숲이 시민들의 활기와
              다양한 액티비티로 활발한 곳이라면, 여기는 한적하고 깊은 휴식이
              필요한 날에 추천합니다. -->
            </p>
            <p class="PtBoxTT">이 답변에 동의하시나요?</p>
            <!-- <div class="PtBoxSy">
              <div class="SyFive">
                <img src="{% static 'img/😟 걱정스러운 얼굴.svg' %}" />
                <p>매우 미동의</p>
              </div>
              <div class="SyFive">
                <img src="{% static 'img/🙁 살짝 찡그린 얼굴.svg' %}" />
                <p>미동의</p>
              </div>
              <div class="SyFive">
                <img src="{% static 'img/🤨 눈썹을 치켜올린 얼굴.svg' %}" />
                <p>모름</p>
              </div>
              <div class="SyFive">
                <img src="{% static 'img/🙂 살짝 미소 짓는 얼굴.svg' %}" />
                <p>동의</p>
              </div>
              <div class="SyFive">
                <img src="{% static 'img/😀 활짝 웃는 얼굴.svg' %}" />
                <p>매우 동의</p>
              </div>
            </div> -->
                            <div class="PtBoxSy">
                  <div class="PtBoxSyGB">
                    <img id="bbimg" src="{% static 'img/👍️ 올린 엄지.svg' %}" />
                    <span>이 답변 좋아요</span>
                  </div>
                  <div class="PtBoxSyGB">
                    <img id="bbimg" src="{% static 'img/👎️ 내린 엄지.svg' %}" />
                    <span>이 답변 싫어요</span>
                  </div>
                </div>
          </div>
          <div class="PtBox">
            <p class="PtBoxTT">할 일 추천</p>
            <p id="PtBoxtxt">포스팅 완료한 후 확인할 수 있습니다.</p>
            <div id="PtBoxjo">
              <a id="PtBoxSyjoH">
                <img src="{% static 'img/chevron-right.svg' %}" />
                <span>여기서 할 일</span>
              </a>
              <a id="PtBoxSyjoN">
                <img src="{% static 'img/chevron-right.svg' %}" />
                <span>다음에 할 일</span>
              </a>
            </div>
            <div id="PtBoxChList">
              <label>
                <input type="checkbox" />
                <span>잔디밭에 앉아 아무 생각 없이 하늘 바라보기</span>
              </label>
              <label>
                <input type="checkbox" />
                <span>근처 카페에서 커피 테이크아웃해서 산책하기</span>
              </label>
              <label>
                <input type="checkbox" />
                <span>벚꽃길 걸으며 사진 한 장 남기기</span>
              </label>
            </div>
          </div>
        </div>
      </article>
    </section>
    <footer id="AcFooter">
      <div id="FtLogo">
        <img src="{% static '' %}" alt="로고" />
        <p>도봉또봉</p>
      </div>
      <div id="FtAd">
        <p id="FtAdC1">개인정보처리방침</p>
        <p id="FtAdC2">ⓒ 2025 AAA. All rights reserved.</p>
      </div>
    </footer>
    <script src="{% static 'js/account/postt.js' %}"></script>
  </body>
</html>
