<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/DBTB/static/css/account/post.css" />
    <title>post</title>
  </head>
  <body>
    <header id="HdStyle">
      <div id="HdLayout">
        <div id="HdLogo">
          <img id="Hdlogoimg" src="" alt="로고" />
          <p id="HdText">도봉또봉</p>
        </div>
        <div id="HdLogo">
          <!-- 경로수정 -->
          <a>지도</a>
          <a>피드</a>
          <a>Q&A</a>
          <a>
            <img id="postpf" src="/DBTB/static/img/profile.svg" alt="프로필" />
          </a>
        </div>
        <!-- <button type="button" id="HdAccountBt">
          <p>로그인/회원가입</p>
        </button> -->
      </div>
    </header>
    <section>
      <div id="postcont">
        <img src="/DBTB/static/img/chevron-left.svg" />
        <p>덕성여자대학교</p>
      </div>
      <div id="postcontmi">
        <!-- 피드로 이동 -->
        <a>
          <img id="postpf" src="/DBTB/static/img/profile.svg" />
        </a>
        <div>
          <p id="usid">봉봉봉</p>
          <p id="usst">AI 작업 실행 중</p>
        </div>
      </div>
      <div id="imageContainer" class="masonry">
        <img src="/DBTB/static/img/IMG_0575 2.png" />
        <img src="/DBTB/static/img/profile.svg" />
        <img src="/DBTB/static/img/Frame 1234.png" />
        <img src="/DBTB/static/img/IMG_0575 2.png" />
        <input type="file" id="fileUpload" accept="image/*" hidden />
        <label for="fileUpload" class="add-btn">+</label>
      </div>
      <div id="csubcon">
        <a id="csubcona"> 취소 </a>
        <button id="csubconBt" type="button">등록하기</button>
      </div>
    </section>
    <footer id="AcFooter">
      <div id="FtLogo">
        <img src="" alt="로고" />
        <p>도봉또봉</p>
      </div>
      <div id="FtAd">
        <p id="FtAdC1">개인정보처리방침</p>
        <p id="FtAdC2">ⓒ 2025 AAA. All rights reserved.</p>
      </div>
    </footer>
  </body>
</html>
