* {
    margin: 0;
    padding: 0;
  }
  
  a{
    text-decoration: none;
    color:black;
  }
  
  /* 헤더 */
  #HdStyle {
    border-bottom: 1px solid #d8d8d8;
    background: #fff;
    
  }
  
  #Hdlogoimg{
    width: 60%;
    cursor: pointer;

  }
  
  #HdLayout {
    display: flex;
    height: 70%;
    margin: 6px 5%;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }
  
  #HdLogo {
    display: flex;
    font-weight: 500;
    justify-content: center;
    align-items: center;
  }
  #HdLogo a {
    cursor: pointer;
    margin: 0 10px;
  }
  #HdLogoA {
    margin-right: 10px;
  }
  
  #HdText {
    color: var(--CoolGray-60, #697077);
    font-family: Roboto;
    font-size: 180%;
    font-style: normal;
    font-weight: 700;
    line-height: 110%;
  }
  
  #postpf{  
    border-radius: 100px;
    width: 45px;
    height: 45px;
    border: 1px solid rgb(152,159,154);
}

#head_feed{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size:26px ;
    gap:10px; 
}
.header2{
    padding: 10px 5%;

}
#DBTB{
    color: RGB(153, 153, 153);
    font-size:26px ;
}
header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-between;
   padding: 10px 15px;
}
hr{
    margin: 0;
}
.head2_1{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 10px;
    gap:30px;
    }
.head2_1>a{
    display: flex;
    flex-direction: row;
    gap:5px;
    cursor: pointer;
    align-items: center;
    font-size: 15px;
    font-weight: 700;

}
.search_Btn{
    border: none;
    background-color: white;
    height: 100%;

}

.number{
    padding: 0 2px 2px 2px;
    background-color:  RGB(153, 153, 153);
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-radius: 50%;
    min-width: 15px;
    color:white;
    align-items: center;
    text-align: center;
    margin-top: 2px;
    font-size: 10px;
    font-weight: 300;
}
.loc_searchBar{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 300px;
    height: 33px;
    border: 1px solid rgb(200, 200, 200) ;
    justify-content: space-between;
    border-radius: 8px;
    overflow: hidden;
    padding: 0 10px;
}
.loc_searchBar>input{
    border: none;
    outline: none;
    width: 85%;

}
body{
    margin: 0;
    padding: 0;
}
.search_Btn>img{
    width: 30px;
    height: 30px;
    cursor: pointer;
}


a{
    text-decoration: none;
    color:black;}


user_img_hole>img{
    width: 100%;
    height: 100%; 
}
.scrap>img{
    cursor: pointer;
    width: 15px;
   
    height: 18px;
}
.scrap{margin-right: 5px;
    font-size: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    color:rgb(152,159,154);
}
.feed_article{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border:1px solid rgb(152,159,154);
    border-radius: 10px;
    width: 260px;
height: 370px;
overflow: hidden;
}
.feed_img_place{
    width: 100%;
    height: 85%; object-fit: cover;
}
.feed_img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.writer_info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap:10px;
    margin-left:10px ;
    font-size: 13px;
}
.writer_info>img{
    width: 30px;
    height: 30px;
    border:1px solid rgb(152,159,154);
    border-radius: 50%;
    gap:5px;
}
#feed_info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding:10px 10px;
}
.feed_display{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); 
    gap: 20px;
    width: 100%;
   
   

}
.feed_main{

display: flex;    

justify-content: center;
flex-wrap: wrap;     
flex-direction: row;
gap:20px;
  padding:20px 6%;
}
.none_answer{
    font-weight: bold;
    border:none;
    margin-top: 20px;
}
article:has(span.none_answer) {
  border: none;
  background: none;

  }
div:has(a.trylogin){
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

 
  .scrap_img{
    width: 18px;
    cursor: pointer;
    height: 20px;
    
  }
  #user_name{
    font-size: 17px;
  }
  .scrap_number{
    font-size: 18px;
  }
  #scrap_Btn{
    width: 18px;    border:none;
    height: 20px;background:white;
  }
  .scrap_form{
   display: flex;
   flex-direction: row;
   width: 30px;
   align-items: center;
   margin-right: 5px;


  }