* {
  margin: 0;
  padding: 0;
}
#HdStyle {
  border-bottom: 1px solid #d8d8d8;
  background: #fff;
  padding: 8px 0;
}

#HdLayout {
  display: flex;
  /* width: 100%; */
  height: 70%;
  padding: 6px 5%;
  justify-content: space-between;
  align-items: center;
}
#postpf{  
  border-radius: 100px;
  width: 45px;
  height: 45px;}
#HdLogo {
  display: flex;
  gap: 5px;
}
/* 로고 수정 */
/* #Hdlogoimg {
  width:;
  height:;
} */
#HdText {
  color: var(--CoolGray-60, #697077);
  font-family: Roboto;
  font-size: 180%;
  font-style: normal;
  font-weight: 700;
  line-height: 110%; /* 39.6px */
}

/* #HdAccountBt {
  border-radius: 10px;
  background: #0050a5;
  border: none;
  display: flex;
  padding: 0.8%;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
#HdAccountBt p {
  color: #fff;
} */

#HdLogo a {
  cursor: pointer;
}
#HdLogo a {
  font-size: 23px;
  font-style: normal;
  margin-top: 10%;
  font-weight: 500;
  margin-left: 20px;
}
#postpf {
  width: 100%;
  height: 70%;
}

/* 푸터 */
#AcFooter {
  display: flex;
  padding: 38px 50px;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: #f0f0f0;
}
#FtLogo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 14px;
}
#FtLogo p {
  color: var(--CoolGray-60, #697077);
  font-family: Roboto;
  font-size: 23px;
  font-style: normal;
  font-weight: 700;
  line-height: 110%; /* 39.6px */
}
#FtAd {
  margin-top: 4%;
}
#FtAdC1 {
  color: #000;
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
#FtAdC2 {
  color: #999;
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-top: 2px;
}

/* 바디 */
/* .masonry {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(2, 1fr);
} */

#postcont {
  display: flex;
  margin: 30px 7% 0 7%;
}
#postcont img {
  height: 30px;
}
#postcont p {
  font-weight: 700;
  font-size: 20px;
}
#postcontmi {
  display: flex;
  margin: 10px 10% 0 10%;
}
#usid {
  font-size: 18px;
  font-weight: 500;
}
#usst {
  font-size: 14px;
  font-weight: 300;
  color: #808080;
}

#PTcontt {
  margin-top: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#PTcontt > div {
  max-width: 60%;
  width: 100%;
}
#adpts {
  width: 30%;
}
#PlNameTi {
  color: #000;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 110%;
}
#PlNameAd {
  color: #808080;
  margin-top: 8px;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 110%; /* 22px */
}
#aicon {
  display: flex;
}
#aiconEx {
  margin-left: 20px;
}
.PtBox {
  border-radius: 10px;
  background: #edf3ec;
  padding: 20px 30px;
  margin-top: 20px;
  width: 100%;
}
.PtBoxTT {
  color: #000;
  font-family: Pretendard;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 160%; /* 44.8px */
}
.PtRe {
  display: inline;
  margin-left: 10px;
  font-size: 12px;
  color: #808080;
  cursor: pointer;
}
.PtRe img {
  width: 12px;
}
.PtRe p {
  color: #c3cec6;
  font-size: 13px;
  margin-top: 20px;
}
.PtLod {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
}
.PtLod img {
  width: 30%;
  margin-bottom: 10px;
}
.PtLod p {
  color: #c3cec6;
  font-size: 15px;
}
.PtBoxSy {
  display: flex;
  gap: 10%;
  justify-content: center;
}
.PtBoxSyGB {
  border: 1px solid #c3cec6;
  border-radius: 10px;
  padding: 5px;
  cursor: pointer;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.PtBoxSyGB img {
  width: 28%;
  margin-right: 5px;
}
.PtBoxSyGB span {
  font-size: 14px;
  text-align: center;
}
.SyFive {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 20px 0;
  cursor: pointer;
}
.SyFive p {
  color: #808080;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 160%;
}
#PtBoxtxt {
  color: #808080;
  font-family: Pretendard;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 110%; /* 17.6px */
  margin-top: 5px;
}
#PtBoxjo {
  display: flex;
  gap: 20%;
  margin-top: 20px;
}
.PtBoxSyjo {
  border: 1px solid #c3cec6;
  border-radius: 10px;
  padding: 5px;
  cursor: pointer;
  width: 140px;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* 내용삽입 */
.Pttextbox {
  line-height: 160%;
  margin: 20px 0;
  font-weight: 500;
  color: #3d3d3d;
  font-size: 17px;
}
/* 여기 */
/* 
.masonry img,
.masonry .add-btn {
  width: 100%;
  display: block;
  margin-bottom: 10px; 
  border-radius: 6px;
}
.masonry ig {
  width: 100%;
  height: 100%;
  max-width: 300px;
  max-height: auto;
  min-width: 300px; 
  min-height: fit-content; 
  object-fit: cover; 
  border-radius: 6px;
}
.masonry ig {
  display: block;
  width: 300px;
  height: auto;
  border-radius: 6px;
  margin-bottom: 10px;
}

.masonry {
  column-count: 2;
  column-gap: 10px;
  margin: 30px 20% 40px 20%;
}

.masonry img {
  display: block;
  height: auto;
  margin-bottom: 10px;
  border-radius: 6px;
}

.add-btn {
  background: #f0f2ed;
  text-align: center;
  font-size: 1.5rem;
  line-height: 120%;
  cursor: pointer;
  color: #697077;
}
*/
#csubcon {
  display: flex;
  justify-content: end;
  margin: 50px 10% 0px 10%;
  margin-bottom: 40px;
}

#csubcona {
  margin-right: 20px;
  border-radius: 4px;
  border: 1.5px solid #c3cec6;
  padding: 10px 20px;
  color: #808080;
  font-weight: 500;
  cursor: pointer;
}
#csubconBt {
  border-radius: 4px;
  border: none;
  background-color: #deede5;
  padding: 10px 20px;
  color: #509771;
  font-weight: 500;
  cursor: pointer;
}
