<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/DBTB/static/css/account/add.css" />
    <title>posting</title>
  </head>
  <body>
    <section>
      <!-- 지도로 이동 -->
      <a id="postcont">
        <img src="/DBTB/static/img/chevron-left.svg" />
        <p>지도</p>
      </a>
      <div id="postcontmi">
        <!-- 마이로 이동 -->
        <a>
          <img id="postpf" src="/DBTB/static/img/profile.svg" />
        </a>
        <div>
          <p id="usid">봉봉봉</p>
          <p id="usst">AI 작업 실행 중</p>
        </div>
      </div>
      <article id="PTcontt">
        <div>
          <div id="aicon">
                <div id="addPtCon">
      <input type="file" id="fileUpload" accept="image/*" hidden />
      <label for="fileUpload" class="add-btn">
        <img src="/DBTB/static/img/circle-plus.svg" />
        <p>사진 등록하기</p>
      </label>
    </div>
            <img id="adpts" src="/DBTB/static/img/IMG_0575 2.png" />
            <div id="aiconEx">
              <div id="PlName">
                <p id="PlNameTi">덕성여자대학교</p>
                <p id="PlNameAd">서울특별시 도봉구 삼양로144길 33</p>
              </div>
              <div class="PtBox">
                <div>
                  <span class="PtBoxTT">AI 분위기 분석</span>
                  <div class="PtRe">
                    <img src="/DBTB/static/img/refresh-ccw.svg" />
                    <span>재생성</span>
                  </div>
                </div>
                <div class="PtLod" style="display: none">
                  <img src="/DBTB/static/img/loader.svg" />
                  <p>답변 생성 중...</p>
                </div>
                <div class="Pttextbox">
                  <ul>
                    <li>넓고 평탄한 초록 잔디</li>
                    <li>개방적이고 조용한 공간</li>
                    <li>배경의 산과 도심 빌딩</li>
                    <li>자연친화적, 청량감, 여유로움</li>
                  </ul>
                </div>
                <div class="PtBoxSy">
                  <div class="PtBoxSyGB">
                    <img src="/DBTB/static/img/👍️ 올린 엄지.svg" />
                    <span>이 답변 좋아요</span>
                  </div>
                  <div class="PtBoxSyGB">
                    <img src="/DBTB/static/img/👎️ 내린 엄지.svg" />
                    <span>이 답변 싫어요</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="PtBox">
            <span class="PtBoxTT">소개 한 줄</span>
            <div class="PtRe">
              <img src="/DBTB/static/img/pencil.svg" />
              <span>수정하기</span>
              <p style="display: none">답변 생성 중...</p>
            </div>
            <p class="Pttextbox">
              여름 아침 덕성여대. 잔디밭에 앉아서 산과 하늘을 바라보면 마음이 탁
              트여요!
            </p>
          </div>
          <!-- <div class="PtBox">
            <p class="PtBoxTT">AI 분위기 매칭</p>
            <div class="PtLod" style="display: none">
              <img src="/DBTB/static/img/loader.svg" />
              <p>답변 생성 중...</p>
            </div>
            <p class="Pttextbox">
              이 사진은 서울숲 잔디광장과 비슷한 분위기를 가지고 있습니다. 두 곳
              모두 넓은 잔디와 도심 속 여유로운 공간이 특징이에요! 다만,
              덕성여자대학교 캠퍼스는 더 조용하고 프라이빗한 느낌이 강해
              혼자만의 시간을 갖거나 산책하기에 좋아요. 서울숲이 시민들의 활기와
              다양한 액티비티로 활발한 곳이라면, 여기는 한적하고 깊은 휴식이
              필요한 날에 추천합니다.
            </p>
            <p class="PtBoxTT">이 답변에 동의하시나요?</p>
            <div class="PtBoxSy">
              <div class="SyFive">
                <img src="/DBTB/static/img/😟 걱정스러운 얼굴.svg" />
                <p>매우 미동의</p>
              </div>
              <div class="SyFive">
                <img src="/DBTB/static/img/🙁 살짝 찡그린 얼굴.svg" />
                <p>미동의</p>
              </div>
              <div class="SyFive">
                <img src="/DBTB/static/img/🤨 눈썹을 치켜올린 얼굴.svg" />
                <p>모름</p>
              </div>
              <div class="SyFive">
                <img src="/DBTB/static/img/🙂 살짝 미소 짓는 얼굴.svg" />
                <p>동의</p>
              </div>
              <div class="SyFive">
                <img src="/DBTB/static/img/😀 활짝 웃는 얼굴.svg" />
                <p>매우 동의</p>
              </div>
            </div>
          </div> -->
          <!-- <div class="PtBox">
            <p class="PtBoxTT">할 일 추천</p>
            <p id="PtBoxtxt">포스팅 완료한 후 확인할 수 있습니다.</p>
            <div id="PtBoxjo">
              <a class="PtBoxSyjo">
                <img src="/DBTB/static/img/chevron-right.svg" />
                <span>여기서 할 일</span>
              </a>
              <a class="PtBoxSyjo">
                <img src="/DBTB/static/img/chevron-right.svg" />
                <span>다음에 할 일</span>
              </a>
            </div>
          </div> -->
        </div>
      </article>
      <div id="csubcon">
        <!-- 이동태그 추가 -->
        <a id="csubcona"> 취소 </a>
        <button id="csubconBt" type="button">등록하기</button>
      </div>
    </section>
    <footer id="AcFooter">
      <div id="FtLogo">
        <img src="" alt="로고" />
        <p>도봉또봉</p>
      </div>
      <div id="FtAd">
        <p id="FtAdC1">개인정보처리방침</p>
        <p id="FtAdC2">ⓒ 2025 AAA. All rights reserved.</p>
      </div>
    </footer>
  </body>
</html>
